<footer>
    <p>This hobby project was made by <a class="footer-link" href="https://github.com/r20222" target="_blank" title="r20222">Roelie Jansen</a>.</p>
    <p>This project was possible thanks to the <a class="footer-link" href="https://api.nasa.gov/" target="_blank" title="NASA API">NASA API</a> and the <a class="footer-link" href="https://www.npmjs.com/package/openai" target="_blank">OpenAI API</a>.</p>
</footer>
</body>
</html>