@import url('https://fonts.googleapis.com/css2?family=Martian+Mono');

*{
    padding:0;
    margin-left:0;
    margin-right:0;
}
body{
    /* background-color: blue; */
    margin: 0 1rem;
    font-family: 'Martian Mono', monospace;
    background-color: whitesmoke;
    font-display: swap;
}
header{
    margin-top:1rem;
}
.header-link{
    font-size:1.5rem;
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.mars-svg{
    display:none;
}
.index-rovers{
    height:13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-decoration: none;
}
.index-rovers .span-rover{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, .6);
    font-size: 2rem;
    padding: .5rem 1rem;
}
.curiosity{
    background:url('/curiosity.webp') no-repeat center center;
    background-size: cover;


}
.opportunity{
    background:url('/opportunity.webp') no-repeat center top;
    background-size: cover;

}
.spirit{
    background:url('/spirit.webp') no-repeat center top;
    background-size: cover;


}
.martian-ai{
    background-color: #5A5446;
    height: 24rem;
    display: block;
    width:100%;
}
.martian-ai h2{
    font-size: 1rem;
    margin-left:1rem;
    margin-right:1rem;
    padding-top:1rem;
    color: whitesmoke;
}
.martian-ai form{
    margin-left:1rem;

}
.martian-ai input{
    height:2rem;
    width:65%;
    /* background-color: blue; */
}
.martian-ai button{
  height: 2.1rem;
  padding: 0 calc(.3rem + 1vw);
}
#chat-output{
    overflow-y: scroll;
    height: 16rem;
    background-color: snow;
    font-size: 1rem;
}
#chat-output li:nth-child(1){
    background-color: lightgrey;
}
#chat-output li{
    margin:1rem 1rem;
    padding: 0 1rem;
    list-style: none;
}

.martian{
    color: black;
    background-color: none;
    font-size: 1rem;
    padding: 0;
    display: block;
}
.user-message{
    background-color: navajowhite;
}
.bot-message{
    background-color: lightgrey;
}
/* Rovers page */
.rover-name::first-letter {
    text-transform: uppercase;
}
.rover-name{
    margin-bottom:-.5rem;
}
.rover-image-box{
    width: auto;
    height: 14rem;
    margin-top:1rem;
    overflow: hidden;
}
.information-rover-list{
    list-style: none;
}

/* image container */
.mars-photo-container, .mars-photo-container > button{
    width:100%;
    height:20rem;
    /* overflow: hidden; */
    background-color: rgb(10, 10, 10);
    margin-bottom: 1rem;
    border: none;
}
.martian-photo{
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    object-position: left top; 
}
.martian-photo-rover-page{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center; 
    /* even fixen voor popover en rover img */
}
.mars-img-popover-container{
    width:95vw;
    height: 95vh;
    object-fit: contain;
    overflow: hidden;
    background-color: rgba(1, 1, 1, .85);
    
    margin:auto;
}

.popover-close{
    background-color: transparent;
    color:whitesmoke;
    border:none;
    font-size: 2rem;
    position: absolute;
}
.popover-close:hover, .popover-available-pointer{
    cursor:pointer;
}
.camera-name{
    color:whitesmoke;
    position: absolute;
    top:4rem;
}
.rover-name-popover{
    color:whitesmoke;
    position: absolute;
    top:2rem;
}
.popover-not-working{
    display:none;
}

/* previous-next-buttons */
.previous-next-buttons{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.previous-next-form{
    display:grid;
    width:100%;
}
.previous-next-button{
    width:7.8rem;
    height:3rem;
    cursor: pointer;
}
.previous-button{
    justify-self: start;
}
.next-button{
    justify-self: end;
}

/* footer */
footer{
    margin-top:5rem;
    margin-bottom:3rem;
}
.footer-link{
    background-color: rgba(0, 0, 0, .9);
    color:whitesmoke;
    padding: .1rem .5rem;
    text-decoration: underline hotpink;
    line-height: 2rem;
}



/* mediaquerie rover photo's, next buttons */
@media screen and (min-width: 360px){

.opportunity{
    background:url('/opportunity.webp') no-repeat center top -2rem;
    background-size: cover;

}
.spirit{
    background:url('/spirit.webp') no-repeat center top -2rem;
    background-size: cover;
}
.previous-next-button{
    width:10rem;
}
}

/* mediaquerie 500px */
@media screen and (min-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header{
        width:30rem;
    }
    .welcome-message{
        max-width:30rem;
    }
    .index-rovers{
        width:30rem;
        height: 20rem;
    }

    /* rovers page */
    .rover-image-box, 
    .rover-name, 
    .desktop-article-rover-info, 
    .sol-input, .sol-date, 
    .mars-photo-container,
    .previous-next-buttons{
        width: 30rem;
    }
    .rover-image-box{
        height:20rem;
    }

    footer{
        width:30rem;
    }
    footer p{
        width:25rem;
    }
}


/* desktop vanaf 1020px */

@media screen and (min-width: 1020px){
    /* body{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    } */
    header{
        margin-top:2rem;
        width:62rem;
    }
    .header-link{
        font-size: 2rem;
    }
    .desktop-welcome{
        width:62rem;
        display: flex;
        justify-content: space-between;
    }
    .welcome-message{
        max-width:30rem;
        margin-top:4rem;
        margin-bottom: 4rem;
    }
    .mars-svg-container{
        display: flex;
        justify-content: center;
        width:30rem;
    }
    .mars-svg{
        display: flex;
        animation: mars 40s infinite linear;
        background-color: black;
        border-radius: 50%;
    }
    @keyframes mars{
        100%{
            rotate: 360deg;
        }
    }
    .index-rovers{
        width:30rem;
        height: 20rem;
        margin-bottom: 1rem;
    }
    .desktop-index-rovers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:1rem;
        max-width: 62rem;
    }

    /* rovers page */ 
    .rover-name, 
    .previous-next-buttons{
        width: 62rem;
    }
    .rover-name{
        margin-top:3rem;
    }
    .rover-image-box{
        height:20rem;
        width:30rem;
    }
    .desktop-article-rover-info{
        max-width:30rem;
    }
    .rover-img-explaination{
        display: flex;
        width: 62rem;
        gap:1rem;
        justify-content: space-between;
        margin-bottom:4rem;
    }

    .rover-photos-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 62rem;
    }
    .mars-photo-container{
        width:20rem;
    }
    .mars-photo-container:nth-child(3n+1) {
        justify-self: start;
    }
    
    .mars-photo-container:nth-child(3n+2) {
        justify-self: center;
    }
    
    .mars-photo-container:nth-child(3n) {
        justify-self: end;
    }

    footer{
        width:62rem;
    }
    footer p{
        width:25rem;
    }
}

/* desktop 1200px */
@media screen and (min-width: 1200px){
    header{
        width:70rem;
    }
    .desktop-welcome{
        width:70rem;
        display: flex;
        justify-content: space-between;
    }
    .welcome-message{
        max-width:30rem;
        margin-top:4rem;
        margin-bottom: 4rem;
    }
    .mars-svg-container{
        display: flex;
        justify-content: center;
        width:30rem;
    }
    .mars-svg{
        display: flex;
        animation: mars 40s infinite linear;
    }
    @keyframes mars{
        100%{
            rotate: 360deg;
        }
    }
    .index-rovers{
        width:33rem;
        height: 21rem;
        margin-bottom: 3rem;    
    }
    .desktop-index-rovers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap:1rem;
        max-width: 70rem;
    }

    /* rovers page */
    
    .rover-name, 
    .previous-next-buttons{
        width: 70rem;
    }
    .rover-image-box{
        height:20rem;
    }
    .rover-img-explaination{
        width: 70rem;
    }
    .rover-photos-container{
        width: 70rem;
    }

    .mars-photo-container{
        width:22.5rem;
    }
   

    footer{
        width:70rem;
    }
    footer p{
        width:25rem;
    }
}