@import url('https://fonts.googleapis.com/css2?family=Martian+Mono');

*{
    padding:0;
    margin-left:0;
    margin-right:0;
}
body{
    /* background-color: blue; */
    margin: 0 1rem;
    font-family: 'Martian Mono', monospace;
    background-color: whitesmoke;
    font-display: swap;
}
header{
    margin-top:1rem;
}
.header-link{
    font-size:1.5rem;
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.index-rovers{
    height:13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-decoration: none;
}
.index-rovers span{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, .6);
    font-size: 2rem;
    padding: .5rem 1rem;
}
.curiosity{
    background:url('/curiosity.webp') no-repeat center center;
    background-size: cover;


}
.opportunity{
    background:url('/opportunity.webp') no-repeat center top;
    background-size: cover;

}
.spirit{
    background:url('/spirit.webp') no-repeat center top;
    background-size: cover;


}

/* Rovers page */
.rover-name::first-letter {
    text-transform: uppercase;
}
.rover-name{
    margin-bottom:-.5rem;
}
.rover-image-box{
    width: auto;
    height: 14rem;
    margin-top:1rem;
    overflow: hidden;
}
.information-rover-list{
    list-style: none;
}

/* image container */
.mars-photo-container, .mars-photo-container > button{
    width:100%;
    height:20rem;
    /* overflow: hidden; */
    background-color: rgb(10, 10, 10);
    margin-bottom: 1rem;
    border: none;
}
.martian-photo{
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    object-position: left top; 
}
.martian-photo-rover-page{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center; 
    /* even fixen voor popover en rover img */
}
.mars-img-popover-container{
    width:95vw;
    height: 95vh;
    object-fit: contain;
    overflow: hidden;
    background-color: rgba(1, 1, 1, .85);
    
    margin:auto;
}

.popover-close{
    background-color: transparent;
    color:whitesmoke;
    border:none;
    font-size: 2rem;
    position: absolute;
}
.popover-close:hover, .popover-available-pointer{
    cursor:pointer;
}
.camera-name{
    color:whitesmoke;
    position: absolute;
    top:4rem;
}
.rover-name-popover{
    color:whitesmoke;
    position: absolute;
    top:2rem;
}
.popover-not-working{
    display:none;
}

/* previous-next-buttons */
.previous-next-buttons{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.previous-next-form{
    display:grid;
    width:100%;
}
.previous-next-button{
    width:7.8rem;
    height:3rem;
    cursor: pointer;
}
.previous-button{
    justify-self: start;
}
.next-button{
    justify-self: end;
}

/* footer */
footer{
    margin-top:5rem;
    margin-bottom:3rem;
}
.footer-link{
    background-color: rgba(0, 0, 0, .9);
    color:whitesmoke;
    padding: .1rem .5rem;
    text-decoration: underline hotpink;
    line-height: 2rem;
}



/* mediaquerie rover photo's, next buttons */
@media screen and (min-width: 360px){

.opportunity{
    background:url('/opportunity.webp') no-repeat center top -2rem;
    background-size: cover;

}
.spirit{
    background:url('/spirit.webp') no-repeat center top -2rem;
    background-size: cover;
}
.previous-next-button{
    width:10rem;
}
}

/* mediaquerie 500px */
@media screen and (min-width: 500px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width:100%; */
    }
    header{
        width:30rem;
    }
    .welcome-message{
        max-width:30rem;
        /* margin-top:4rem; */
    }
    .index-rovers{
        /* height:13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        text-decoration: none; */
        width:30rem;
        height: 20rem;
        /* max-width:20rem; */
        
    }
    .desktop-index-rovers{
        /* display: flex;
        flex-wrap: wrap; */
        /* flex-grow: 1; */
        /* grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem; */
    }

    /* rovers page */
    .rover-image-box, 
    .rover-name, 
    .desktop-article-rover-info, 
    .sol-input, .sol-date, 
    .mars-photo-container,
    .previous-next-buttons{
        width: 30rem;
    }
    .rover-image-box{
        height:20rem;
    }

    footer{
        width:30rem;
    }
    footer p{
        width:25rem;
    }
}